main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#guess {
  width: 5em;
}

#reset {
  margin: 20px;
}

#more-than-100-case {
  color:red;
}

#less-than-1-case {
  color:red;
}